
body{
    font-family: 'Supermercado One', cursive;
}
.container-top{
    padding: 3% 15%;
}
.logo{
    font-family: 'Comforter', cursive;
    font-size: 40px;
}

.offcanvas-title{
    color: chocolate;
}

.nav-link{
    font-size: 20px;
}

.heading{
    font-size: 70px;
}
#title{
    background-color: antiquewhite;
    position: relative;
    top: 80px;
}
.github{
    margin: 20px;
}
button{
    margin: 5px;
}

/* card */
.container-cards{
    position: relative;
    top: 100px;
}

.card{
    border: 2px solid blanchedalmond;
    margin: 15px;
    padding: 15px;
    display: inline-block;
}
.card img{
    margin: auto;
}
.card a{
    text-decoration: none;
}

/* end card */